// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);

$theme-colors: (
	"primary": 	#83eec7,
	"secondary": #7ee1e7
);

$body-bg: 	 #f00;//#efefef;
$body-color: #222;

// Typography
//$font-stack: "Roboto", sans-serif;
//$font-size-base: 14px;
//$line-height-base: 1.6;
