//not used atm but could be used later to make app.scss cleaner

body {
	font: 100% $font-stack;			!important
	background-color: $background;	!important
	color: $text-color;				!important
}

#map {
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
