// Colours
$background: 	#efefef;
$text-color: 	#424242;
$primary: 		#83eec7;
$secondary: 	#86acac;
$trinary:		#65c9e3;
$quaternary:	#5996da;
$info: 			#62ffc8;
$success: 		#98ff46;
$warning: 		#e7c93e;
$danger:		#f14f2f;

// Typography
$font-stack: "Roboto", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
