//not used atm but could be used later to make app.scss cleaner

// Colours
$primary: 		#83eec7; !important
$secondary: 	#7ee1e7; !important
//$info: 			#62ffc8;
//$success: 		#98ff46;
//$warning: 		#e7c93e;
//$danger:		#f14f2f;


$body-bg: 		#efefef; !important
$body-color: 	#424242; !important

// Typography
$font-stack: "Roboto", sans-serif; !important
$font-size-base: 14px; !important
$line-height-base: 1.6; !important
